nav{
    display: flex;
    align-items: center;
    margin-top: 2rem;
}
img{
    position: absolute;
    left: 3rem;
}

.log{
    margin-top: 2rem;
    position: absolute;
    right: 3rem;
    color: #FFFFFF;
    background: #211414;
    padding: 5px 20px;
    border-radius: 100px;
    transition: .5s;
    border: black;
}
.log:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5px 1px;
}

.reg{
    position: absolute;
    right: 10rem;
    color: #FFFFFF;
    background: #211414;
    padding: 5px 20px;
    border-radius: 100px;
    transition: .5s;
    border: black;
}
.reg:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5px 1px;
}
