.title,.description{
    display: block;
    letter-spacing: 0.05em;
}
.title{
    text-transform: uppercase;
    margin-top: 10rem;
    margin-left: 15rem;
    font-size: 34px;
}
.description{
    margin-top: 2rem;
    margin-left: 15rem;
    width: 600px;
    font-size: 28px;
}