.card{
    display: inline-block;
    position: relative;
    width: 350px;
    height: 210px;
    margin-right:1rem;
    margin-bottom: 1rem;
}
.card img{
    width: 350px;
    height: 210px;
    opacity: 60%;
}

.cardName{
    font-size: 16px;
    background: black;
    padding: 7px 20px;
    color: #FFFFFF;
    position: absolute;
    right: -50px;
    bottom: 0;
    transition: .5s;
    border-radius: 100px;
    border: 1px solid black;
    cursor: pointer;
}

.cardName:hover{
    box-shadow: 0 0 5px 1px;
}