.catalog{
    background: #9E162F;
    padding: 7px 33px;
    border-radius: 100px;
    width: 260px;
    text-align: center;
    font-size: 28px;
    transition: .5s;
    margin-left: 15rem;
    margin-top: 3rem;
    color: #FFFFFF;
}
.catalog:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0 0 5px 1px;
}