body {
  background: url("./main-back.png") no-repeat right, linear-gradient(to right, #231C19, #594037);
  background-size: auto 100%;
  padding: 0;
  margin: 0;
  color: #FFFFFF;
}
a{
  color: #FFFFFF;
  text-decoration: none;
}
.container{
  padding: 0;
  margin: 0;
  max-width: 1110px;
  height: 100vh;
  box-sizing: content-box;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
